<h1 class="page-header">Admin Board</h1>
<!-- <div class="jumbotron"> -->
    <!-- <div id='main-component'></div> -->
<!-- </div> -->

<div class='content'>
    <!-- your code here -->
    <p>Let your peeps know what's up by sending a message to the Hipchat group!</p>

	<button type="button" class="btn btn-default">Need Cash</button>
	<button type="button" class="btn btn-default">Last Call for Next Order</button>
	<button type="button" class="btn btn-default">Order Sent</button>
	<button type="button" class="btn btn-default">Order Has Arrived</button>
</div>

<script src="/dist/js/index.bundle.js"></script>
