<h1 class="page-header">All Snacks</h1>

<div class='content'>
  <table id="dataHeader">
    <tr>
        <th style="width: 100px; text-align:center">Item</th>
        <th style="width: 300px; text-align:center">Title</th>
        <th style="width: 100px; text-align:center">Cost</th>
        <th style="width: 100px; text-align:center">Rating</th>
        <th style="width: 100px; text-align:center"></th>
    </tr>
    <tr>
      <td class="productImg"><img src="https://images-na.ssl-images-amazon.com/images/I/51Sg3PrA8sL._AC_US320_FMwebp_QL65_.jpg"></td>
      <td>Oreo Cookies <a href=""><img src="/images/info-icon.svg" class="infoIcon"></a></td>
      <td>$2.29</td>
      <td></td>
      <td class='plusMinus'>Add to Cart</td>
    </tr>
   
</table>

    <!-- your code here -->
</div>

<script src="/dist/js/index.bundle.js"></script>
